### begin validators
<%= for v <- validators do %>
[[tendermint.genesis.validators]]
address = "<%= v.address %>"
name = "<%= v.name %>"
power = "<%= v.voting_power %>"

[tendermint.genesis.validators.pub_key]
type = "<%= v.pub_key.type %>"
value = "<%= v.pub_key.data %>"
<% end %>
### end validators